.App {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: black;
}

.banner {
  color: peru;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.content {
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.search-input {
  border-radius: 5px 0 0 5px;
  border: 1px solid grey;
  border-right: 0px;
  background: white;
  padding-left: 5px;
}

.search-submit {
  border-radius: 0 5px 5px 0;
  border: 1px solid grey;
  border-left: 0px;
  background: white;
  transition: background-color 0.3s ease;
}

.search-submit:hover {
  background-color: antiquewhite;
}

.search-submit:active {
  background-color: peru;
}

.search-input:focus-visible, .search-submit:focus-visible {
  outline: none;
}

.search-results, .empty-state {
  position: relative;
  max-height: 250px;
  width: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  overflow: scroll;
}

.search-element {
  text-align: center;
  list-style: none;
  margin: 5px;
  font-size: 14px;
  border: .5px solid transparent;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-transition: border .3s ease, background-color .3s ease;
  -moz-transition: border .3s ease, background-color .3s ease;
  transition: border .3s ease, background-color .3s ease;
}

.search-element:hover, .selected {
  border: .5px solid wheat;
  background-color: wheat;
  cursor: pointer;
}

.selected {
  border: 1px solid peru;
}

.home-detail {
  position: absolute;
  top: 88px;
  left: 220px;
  height: 250px;
  width: 208px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px 0 10px 0;
}

.detail-element, .detail-element-header, .detail-element-location, 
.detail-element-beds-baths {
  text-align: center;
  list-style: none;
  margin: 5px;
  font-size: 14px;
  border: .5px solid transparent;
  padding: 5px 10px;
}

.detail-element-price {
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.detail-element-header, .detail-element-price {
  font-weight: 700;
}

.detail-element-location {
  font-size: 12px;
  color: darkslategray;
}

.detail-element-beds-baths {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.home-detail a {
  font-size: 12px;
}

.sale-type {
  margin-top: 2px;
  font-size: 10px;
}

/* .more-info-off {
  overflow: hidden;
  height: 0px;
}

.more-info-on {
  height: auto;
  display: flex;
  flex-direction: column;
} */